p {
    font-family: Monaco;
    font-size: 15px;
    color: rgb(255, 255, 255);
  }
h1 {color: rgb(255, 255, 255);
  }
h2 {color: rgb(255, 255, 255);
}
table, th, td {
    border: 3px solid rgb(238, 234, 234);
  }
table {
    border-collapse: collapse;
  }
tr  {color: rgb(255, 255, 255);
  }
a {
    font-size: 25px;
  }
  